<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CRUD Project </title>

    <!--Custom CSS File Link-->
    {% block CSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'enroll/CSS/base.css' %}">
    {% endblock CSS %}
</head>
<body>
    <div class="container">
        <h1>CRUD Project using Function Based Views</h1>
        {% block content %} {% endblock content %}
    </div>
    
    <!--Customer JS File link-->
    <script src="{% static 'enroll/javascript/base.js' %}"></script>
</body>
</html>         `